<a href="https://colab.research.google.com/github/grjadhav409/Enthalpy-prediction-ML/blob/main/3_SMILES_method_2_pubchem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

MessageError: ignored

In [ ]:
!pip install pubchempy
from pubchempy import get_compounds
import pandas as pd

In [ ]:
df1 = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/data2/Enthalpy of formation enthalpy of formation/hydrocarbans/df_oldsmiles.xlsx")
df1
#loaded previous data with old smiles

                        name               smiles         hfg
0                     Decane           CCCCCCCCCC -249.699997
1                     Nonane            CCCCCCCCC -228.300003
2          tetramethylbutane       CCC(C)C(C)(C)C -226.199997
3                     Octane             CCCCCCCC -208.399994
4             2-methylhexane            CCCCC(C)C -195.000000
..                       ...                  ...         ...
406            Diiodomethane                  ICI  118.000000
407                Aziridine                C1CN1  126.000000
408  Cyclobutanecarbonitrile            N#CC1CCC1  147.300003
409                 Fluorene  C1c2ccccc2c3ccccc13  176.699997
410           Succinonitrile             N#CCCC#N  209.660004

[411 rows x 3 columns]

In [ ]:
name= df1['name'].tolist()
data= []
for x in name:
  #print(x)
  for compound in get_compounds (x,"name"):
    #print(compound.cid)
    #print(compound.isomeric_smiles)
    data.append([x,compound.cid,compound.isomeric_smiles])
#print(cid)
df = pd.DataFrame(data, columns=["name","cid","isomeric_smiles"])
print(df)
#calculated pubchem smiles

                        name    cid            isomeric_smiles
0                     Decane  15600                 CCCCCCCCCC
1                     Nonane   8141                  CCCCCCCCC
2          tetramethylbutane  11675           CC(C)(C)C(C)(C)C
3                     Octane    356                   CCCCCCCC
4             2-methylhexane  11582                  CCCCC(C)C
..                       ...    ...                        ...
403            Diiodomethane   6346                      C(I)I
404                Aziridine   9033                      C1CN1
405  Cyclobutanecarbonitrile  78148                C1CC(C1)C#N
406                 Fluorene   6853  C1C2=CC=CC=C2C3=CC=CC=C31
407           Succinonitrile   8062                 C(CC#N)C#N

[408 rows x 3 columns]

In [ ]:
df3 = pd.merge(df1, df, on='name')
df3
#merged new and old smiles

                        name  ...            isomeric_smiles
0                     Decane  ...                 CCCCCCCCCC
1                     Nonane  ...                  CCCCCCCCC
2          tetramethylbutane  ...           CC(C)(C)C(C)(C)C
3                     Octane  ...                   CCCCCCCC
4             2-methylhexane  ...                  CCCCC(C)C
..                       ...  ...                        ...
403            Diiodomethane  ...                      C(I)I
404                Aziridine  ...                      C1CN1
405  Cyclobutanecarbonitrile  ...                C1CC(C1)C#N
406                 Fluorene  ...  C1C2=CC=CC=C2C3=CC=CC=C31
407           Succinonitrile  ...                 C(CC#N)C#N

[408 rows x 5 columns]

In [ ]:
! pip install sweetviz

In [ ]:
import sweetviz as sv
analyze_report = sv.analyze(df3)
analyze_report.show_html('analyze.html', open_browser=False)
import IPython
IPython.display.HTML('analyze.html')

In [ ]:
alkane = "/content/drive/MyDrive/Colab Notebooks/data2/Enthalpy of formation enthalpy of formation/hydrocarbans/alkanes.xlsx"
alkene="/content/drive/MyDrive/Colab Notebooks/data2/Enthalpy of formation enthalpy of formation/hydrocarbans/alkene.xlsx"
alkyne="/content/drive/MyDrive/Colab Notebooks/data2/Enthalpy of formation enthalpy of formation/hydrocarbans/alkyne.xlsx"
diene="/content/drive/MyDrive/Colab Notebooks/data2/Enthalpy of formation enthalpy of formation/hydrocarbans/diene.xlsx"
RCH3="/content/drive/MyDrive/Colab Notebooks/data2/Enthalpy of formation enthalpy of formation/hydrocarbans/RCH3.xlsx"
R4C="/content/drive/MyDrive/Colab Notebooks/data2/Enthalpy of formation enthalpy of formation/hydrocarbans/R4C.xlsx"
R3CH="/content/drive/MyDrive/Colab Notebooks/data2/Enthalpy of formation enthalpy of formation/hydrocarbans/R3CH.xlsx"
R2CH2="/content/drive/MyDrive/Colab Notebooks/data2/Enthalpy of formation enthalpy of formation/hydrocarbans/R2CH2.xlsx"


df11 = pd.read_excel(alkane)
df12 = pd.read_excel(alkene)
df13 = pd.read_excel(alkyne)
df14 = pd.read_excel(diene)
df15 = pd.read_excel(RCH3)
df16 = pd.read_excel(R4C)
df17 = pd.read_excel(R3CH)
df18 = pd.read_excel(R2CH2)


df19= pd.concat([df11,df12,df13,df14,df15,df16,df17,df18])
df20 = df19.drop(["species1","species2","species3",'species4',"hfg_0K","charge"],axis=1)
df20

                                    name         species      hfg
0                                 Decane          C10H22  -249.70
1                                 Nonane           C9H20  -228.30
2                      tetramethylbutane  (CH3)3CC(CH3)3  -226.20
3                                 Octane           C8H18  -208.40
4                         2-methylhexane           C7H16  -195.00
..                                   ...             ...      ...
252           Bicyclo[2.2.0]hex-1(4)-ene            C6H8   303.76
253  Bicyclo[1.1.0]butane-1-carbonitrile           C5H5N   304.51
254             Bicyclo[2.1.0]pent-2-ene            C5H6   333.05
255                        Quadricyclane            C7H8   336.00
256                 cyclopropenyl cation           C3H3+  1080.00

[821 rows x 3 columns]

In [ ]:
name= df20['name'].tolist()
data= []
for x in name:
  #print(x)
  for compound in get_compounds (x,"name"):
    #print(compound.cid)
    #print(compound.isomeric_smiles)
    data.append([x,compound.cid,compound.isomeric_smiles])
#print(cid)
df21 = pd.DataFrame(data, columns=["name","cid","isomeric_smiles"])
print(df21)
#calculated pubchem smiles

                                    name     cid   isomeric_smiles
0                                 Decane   15600        CCCCCCCCCC
1                                 Nonane    8141         CCCCCCCCC
2                      tetramethylbutane   11675  CC(C)(C)C(C)(C)C
3                                 Octane     356          CCCCCCCC
4                         2-methylhexane   11582         CCCCC(C)C
..                                   ...     ...               ...
795                 Cyclopropylacetylene  138823          C#CC1CC1
796           Bicyclo[2.2.0]hex-1(4)-ene  141589       C1CC2=C1CC2
797  Bicyclo[1.1.0]butane-1-carbonitrile  140155     C1C2C1(C2)C#N
798             Bicyclo[2.1.0]pent-2-ene  138425        C1C2C1C=C2
799                        Quadricyclane   78961   C1C2C3C2C4C1C34

[800 rows x 3 columns]

In [ ]:
import sweetviz as sv
analyze_report = sv.analyze(df21)
analyze_report.show_html('analyze.html', open_browser=False)
import IPython
IPython.display.HTML('analyze.html')

In [ ]:
!pip install klib
import klib

In [ ]:
df22=klib.data_cleaning(df21)

NameError: ignored

In [ ]:
df22

                        name    cid            isomeric_smiles
0                     Decane  15600                 CCCCCCCCCC
1                     Nonane   8141                  CCCCCCCCC
2          tetramethylbutane  11675           CC(C)(C)C(C)(C)C
3                     Octane    356                   CCCCCCCC
4             2-methylhexane  11582                  CCCCC(C)C
..                       ...    ...                        ...
405            Diiodomethane   6346                      C(I)I
406                Aziridine   9033                      C1CN1
407  Cyclobutanecarbonitrile  78148                C1CC(C1)C#N
408                 Fluorene   6853  C1C2=CC=CC=C2C3=CC=CC=C31
409           Succinonitrile   8062                 C(CC#N)C#N

[410 rows x 3 columns]

In [ ]:
 df23= pd.merge(df22, df20, on='name')
 df23

                        name    cid            isomeric_smiles species     hfg
0                     Decane  15600                 CCCCCCCCCC  C10H22 -249.70
1                     Decane  15600                 CCCCCCCCCC  C10H22 -249.70
2                     Decane  15600                 CCCCCCCCCC  C10H22 -249.70
3                     Nonane   8141                  CCCCCCCCC   C9H20 -228.30
4                     Nonane   8141                  CCCCCCCCC   C9H20 -228.30
..                       ...    ...                        ...     ...     ...
795            Diiodomethane   6346                      C(I)I   CH2I2  118.00
796                Aziridine   9033                      C1CN1   C2H5N  126.00
797  Cyclobutanecarbonitrile  78148                C1CC(C1)C#N   C5H7N  147.30
798                 Fluorene   6853  C1C2=CC=CC=C2C3=CC=CC=C31  C13H10  176.70
799           Succinonitrile   8062                 C(CC#N)C#N  C4H4N2  209.66

[800 rows x 5 columns]

In [ ]:
df_smiles=klib.data_cleaning(df23)

Shape of cleaned data: (410, 5)Remaining NAs: 2

Changes:
Dropped rows: 390
     of which 390 duplicates. (Rows: [1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 15, 17, 18, 19, 21, 22, 24, 25, 26, 28, 29, 31, 32, 33, 35, 36, 37, 39, 40, 42, 43, 45, 46, 47, 49, 50, 52, 53, 55, 56, 58, 60, 61, 63, 65, 67, 68, 69, 71, 72, 74, 76, 78, 80, 81, 83, 84, 85, 87, 88, 89, 91, 92, 93, 95, 97, 99, 101, 102, 104, 105, 107, 108, 110, 111, 117, 119, 120, 122, 123, 125, 126, 128, 129, 131, 132, 134, 135, 137, 139, 140, 142, 143, 145, 146, 148, 149, 151, 153, 155, 157, 159, 160, 162, 163, 164, 166, 167, 168, 170, 172, 174, 175, 177, 178, 180, 181, 184, 185, 186, 188, 189, 190, 192, 193, 195, 196, 198, 199, 200, 202, 203, 205, 207, 208, 210, 211, 213, 214, 216, 217, 219, 221, 222, 224, 226, 227, 229, 230, 232, 233, 235, 236, 237, 239, 241, 242, 244, 245, 247, 249, 251, 253, 256, 257, 259, 260, 262, 263, 265, 266, 268, 269, 271, 272, 274, 276, 278, 280, 281, 283, 284, 286, 287, 289, 291, 295, 296, 298, 299, 301, 302, 304, 305, 307, 308, 310, 311, 313, 315])
Dropped columns: 0
     of which 0 single valued.     Columns: []
Dropped missing values: 0
Reduced memory by at least: 0.02 MB (-66.67%)

In [ ]:
df_smiles.to_excel(r"/content/drive/MyDrive/Colab Notebooks/data2/Enthalpy of formation enthalpy of formation/hydrocarbans/df_smiles.xlsx", sheet_name='df_smiles', index = False)

In [ ]:
df_smiles

                        name    cid  ...         species         hfg
0                     Decane  15600  ...          C10H22 -249.699997
1                     Nonane   8141  ...           C9H20 -228.300003
2          tetramethylbutane  11675  ...  (CH3)3CC(CH3)3 -226.199997
3                     Octane    356  ...           C8H18 -208.399994
4             2-methylhexane  11582  ...           C7H16 -195.000000
..                       ...    ...  ...             ...         ...
405            Diiodomethane   6346  ...           CH2I2  118.000000
406                Aziridine   9033  ...           C2H5N  126.000000
407  Cyclobutanecarbonitrile  78148  ...           C5H7N  147.300003
408                 Fluorene   6853  ...          C13H10  176.699997
409           Succinonitrile   8062  ...          C4H4N2  209.660004

[410 rows x 5 columns]

playground

In [ ]:
!pip install pubchempy

Collecting pubchempy
  Downloading PubChemPy-1.0.4.tar.gz (29 kB)
Building wheels for collected packages: pubchempy
  Building wheel for pubchempy (setup.py) ... done
  Created wheel for pubchempy: filename=PubChemPy-1.0.4-py3-none-any.whl size=13834 sha256=2e9d138bae2d312b744004d69626ea2e98e5d49a08987c41f2db68b81b2206f5
  Stored in directory: /root/.cache/pip/wheels/7c/3d/8c/8192697412e9899dc55bbbb08bbc1197bef333caaa2a71c448
Successfully built pubchempy
Installing collected packages: pubchempy
Successfully installed pubchempy-1.0.4

In [ ]:
import pubchempy as pcp
c = pcp.Compound.from_cid(5090)

In [ ]:
print (c.isomeric_smiles)

CS(=O)(=O)C1=CC=C(C=C1)C2=C(C(=O)OC2)C3=CC=CC=C3